.y2k-button {
  font-weight: 700;
  border: solid 3px silver;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  color: white;
}

.y2k-button-blue {
  background: linear-gradient(rgba(122, 188, 238, .3),rgba(11, 75, 202, .7), rgba(122, 188, 238, .3));
}

.y2k-button-blue:hover {
  background: linear-gradient(rgba(122, 188, 238, .5),rgba(11, 75, 202, .7), rgba(122, 188, 238, .5));
}

.y2k-button-red{
  background: linear-gradient(rgba(255,0,0,.3),rgba(255,0,0,.7), rgba(255,0,0,.3))
}

.y2k-button-red:hover{
  background: linear-gradient(rgba(255,0,0,.5),rgba(255,0,0,.7), rgba(255,0,0,.5))
}

.y2k-button-green{
background: linear-gradient(rgba(0,255,0,.3),rgba(0,255,0,.7), rgba(0,255,0,.3))
}

.y2k-button-green:hover{
  background: linear-gradient(rgba(0,255,0,.5),rgba(0,255,0,.7), rgba(0,255,0,.5))
  }

.y2k-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.y2k-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}

.y2k-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
