.section{
display: block;
}

.sectionTitle {
  position: relative;
  width: 120px;
  padding: 10px 20px 10px 10px;
  position: relative;
  color: black;
  z-index: 3;
  height: 1.5rem;
  border-top-left-radius: 10px;

  background: linear-gradient(rgba(180,181,200,1), rgba(209,210,221,1));
}

.parallelogram{
  position: absolute;
  display: block;
  width: 220px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  -moz-transform: skew(30deg, 0deg);
  -webkit-transform: skew(30deg, 0deg);
  -o-transform: skew(30deg, 0deg);
  -ms-transform: skew(30deg, 0deg);
  transform: skew(30deg, 0deg);
  margin-left: 30%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  background: linear-gradient(rgba(180,181,200,1), rgba(209,210,221,1));
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.sectionTitleText{
  margin: 0;
  font-size: 2rem;
  margin-top: -.25rem;
}

.sectionContent{
  box-shadow: 5px 5px 6px -2px #000000;
  border: solid rgb(209,210,221) 5px;
  padding: .25rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-top: solid rgb(209,210,221) 15px;
}

@media only screen and (max-width: 600px){
  .parallelogram{
    width: 100%;
  }
}